<h2>Create a worker..</h2>

<%= form_for :worker, :url => {:action => "create"}  do |f|%>
  <%=f.label :username%> </br>
  <%=f.text_field :username%> </br>

  <%=f.label :password%> </br>
  <%=f.text_field :password%>  </br>

  <%=f.submit "Create Worker"%>
<%end%>