<header>
  <%= link_to logo, root_path %>
  <nav class = "round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Settings",  %></li>
      <%end%>
      <li><%= link_to "Help" %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Sign out",  destroy_user_session_path%></li>
      <%else%>
        <li><%= link_to "Sign in",  new_user_session_path%></li>
      <%end%>
    </ul>
  </nav>
</header>